header {
  background: url("http://www.hddesktops.com/web/wallpapers/a-wallpaper-of-the-damnation-creek-trail-trees-in-4k/5120x2160.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
